<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= result.artist %> -
        <%= result.name %> | Aspire world</title>
    <meta name="description" content="<%= result.lyrics.slice(0,200) %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@XNdiscord">
    <meta property="og:title" content="<%= result.artist %> - <%= result.name %> | Powered by Aspire world">
    <meta property="og:site_name" content="ASPIRE WORLD DEV.">
    <meta property="og:url" content="/">
    <meta property="og:description" content="<%= result.lyrics.slice(0,200) %> ...">
    <meta property="og:type" content="music.song">
    <meta property="og:image" content="<%= result.album_art %>">
    <link rel="stylesheet" href="https://aspire.su/css/song.css" type="text/css ">
    <style>
        .text {
            margin-top: 2rem;
            font-size: larger;
            padding-left: 6.75rem;
        }
    </style>
</head>

<body class="dark ">
    <div class="container ">
        <div class="header-container ">
            <div class="album-art ">
                <div class="image " style='background-image: url("<%= result.album_art %>")'></div>
            </div>
            <div class="song-header ">
                <h2 class="song-name ">
                    <%= result.name %>
                </h2>
                <h4 class="artist ">by ​
                    <%= result.artist%>
                </h4>
            </div>
        </div>
        <p class="lyrics" style="display: block ">
            <p class="text">
                <% result.lyrics.split('\n').forEach(stroke => { %>
                <%= stroke %>
                <br>
                <% }) %>
            </p>
        </p>
        <footer class="footer ">
            <p>
                <%= result.artist %> &copy;
                <%= result.album_year%>
                <p>
                    Copyright aspire-world.pw &copy; 2020
                    <p>
                        Powered by <a href="https://aspire.su" target="_blank ">illyasviel music</a>
        </footer>
    </div>
    <script data-cfasync="false " src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js "></script>
    <script src="/static/c/js/output.cd9942976550.js " type="15ffa6e058a003bec6c1f488-text/javascript "></script>
    <script src="/static/c/js/output.322ae25b111d.js " type="15ffa6e058a003bec6c1f488-text/javascript "></script>
    <script type="15ffa6e058a003bec6c1f488-text/javascript ">
        let _mtm = _mtm || [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        let d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = 'https://athena.ksoft.si/js/container_ScBcTZhT.js';
        s.parentNode.insertBefore(g, s);
    </script>
    <script>
        let image = '<%= result.album_art %>';

    </script>
    <noscript>
        <p><img src="https://athena.ksoft.si/matomo.php?idsite=3&amp;rec=1" style="border:0; " alt=" " /></p>
    </noscript>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js "
        data-cf-settings="15ffa6e058a003bec6c1f488-|49 " defer=" "></script>
</body>

</html>